[submodule "extern/mqt-core"]
	path = extern/mqt-core
	url = https://github.com/cda-tum/mqt-core.git
    branch = main
[submodule "extern/taskflow"]
	path = extern/taskflow
	url = https://github.com/taskflow/taskflow.git
	branch = master
	shallow = true
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = master
	shallow = true
