include README.md LICENSE CMakeLists.txt
include src/*
include include/*
include apps/*
graft jkq/*
include extern/qfr/CMakeLists.txt
graft   extern/qfr/include
graft   extern/qfr/src
graft   extern/qfr/jkq/qfr
include extern/qfr/extern/dd_package/CMakeLists.txt
graft   extern/qfr/extern/dd_package/include
graft   extern/qfr/extern/json
graft   extern/qfr/extern/pybind11
graft   extern/qfr/extern/pybind11_json