include README.md LICENSE CMakeLists.txt
include src/*
include include/*
include apps/*
graft mqt/*
global-exclude __pycache__/
global-exclude *.py[cod]
global-exclude *.so

# Include relevant files from other MQT projects
include extern/qfr/CMakeLists.txt
graft   extern/qfr/include
graft   extern/qfr/src
graft   extern/qfr/mqt/qfr
include extern/qfr/extern/dd_package/CMakeLists.txt
graft   extern/qfr/extern/dd_package/include
graft   extern/qfr/extern/dd_package/cmake
graft   extern/qfr/extern/zx

# Include necessary files from nlohmann and pybind11 (especially don't include the docs)
graft   extern/qfr/extern/json
prune   extern/qfr/extern/json/docs
prune   extern/qfr/extern/json/tests
prune   extern/qfr/extern/json/benchmarks
prune   extern/qfr/extern/json/tools
prune   extern/qfr/extern/json/third_party
prune   extern/qfr/extern/json/include

graft   extern/qfr/extern/pybind11
prune   extern/qfr/extern/pybind11/docs
prune   extern/qfr/extern/pybind11/tests

graft   extern/qfr/extern/pybind11_json
prune   extern/qfr/extern/pybind11_json/test

graft extern/taskflow
prune extern/taskflow/docs
prune extern/taskflow/image
prune extern/taskflow/benchmarks
prune extern/taskflow/doxygen
prune extern/taskflow/3rd-party
prune extern/taskflow/tfprof
prune extern/taskflow/sandbox
prune extern/taskflow/unittests
prune extern/taskflow/examples

graft extern/cxxopts
prune extern/cxxopts/test
