.wy-side-nav-search {
  background-color: #0b152d;
}

html[data-theme="dark"].writer-html4
  .rst-content
  dl:not(.docutils)
  .descclassname,
html[data-theme="dark"].writer-html4 .rst-content dl:not(.docutils) .descname,
html[data-theme="dark"].writer-html4 .rst-content dl:not(.docutils) .sig-name,
html[data-theme="dark"].writer-html5
  .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(
    .citation
  ):not(.glossary):not(.simple)
  .descclassname,
html[data-theme="dark"].writer-html5
  .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(
    .citation
  ):not(.glossary):not(.simple)
  .descname,
html[data-theme="dark"].writer-html5
  .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(
    .citation
  ):not(.glossary):not(.simple)
  .sig-name {
  color: #bfbfbf;
}

html[data-theme="dark"].writer-html4
  .rst-content
  dl:not(.docutils)
  dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(
    .glossary
  ):not(.simple)
  > dt,
html[data-theme="dark"].writer-html5
  .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(
    .citation
  ):not(.glossary):not(.simple)
  dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(
    .glossary
  ):not(.simple)
  > dt {
  background-color: #0b0b0b;
  border-left: 3px solid #555;
}
