name: Deploy to PyPI Test

on:
  pull_request:
    branches: [master]
  workflow_dispatch:

env:
  CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
  CIBW_BUILD: cp3?-*
  CIBW_SKIP: "*-win32 *-manylinux_i686 cp35-*"
  CIBW_BUILD_VERBOSITY: 3
  CIBW_TEST_REQUIRES: qiskit
  CIBW_TEST_COMMAND: "python -c \"from jkq import ddsim\""
  CIBW_BEFORE_BUILD: "pip install cmake"

jobs:
  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel

      - name: Build sdist
        run: python setup.py sdist

      - name: Test sdist
        run: pip install --verbose dist/*.tar.gz
        env:
          CC: "gcc-10"
          CXX: "g++-10"

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    needs: [build_sdist]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build wheels
        uses: joerick/cibuildwheel@v1.11.0

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  upload_pypi_test:
    name: Upload dists to PyPi Test
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPYI_TEST_TOKEN }}
          repository_url: https://test.pypi.org/legacy/